body{
    background-color: #1B1B1B

}
h4{
    color:#3e3d3d; 
    margin-left:250px;
    font-size: small;
}

main{
    background-color: #f0f0f0;
    height: 40%
    max-height: 70%;
    width: 50%;
    max-width: 86%;
    margin-left: 1.5%;
    padding: 20px 20px 20px 20px;
    border: solid #f0f0f0 60px;
    position: center;
    margin-top: 20px;
    margin: auto;    
    
}

section{
    color: #E1624F;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "open sans", sans-serif;
    font-weight: bold
}

h1{
    color: #1B1B1B;
    font-size: 40px;
    font-family: "open sans", sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    
}
h2{
    color: #1B1B1B;
    font-size: 25px;
    font-family: "open sans", sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
p{
    color: #1B1B1B;
    font-size: 15px;
    font-family: "open sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: justify;
}
div{
    margin-bottom: 20px;
}
ul{
    color: #1B1B1B;
    font-size: 15px;
    font-family: "open sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}
li{
    margin-bottom: 10px;
    color: #0C51A7;
    font-weight: bold;
    font-size: 15px;
    font-family: "open sans", sans-serif;

}
.first{
    color: #591B98;
    font-weight: bold;
    font-size: 15px;
    font-family: "open sans", sans-serif;
   
}

.second{
    color:#E5245E;
    font-weight: bold;
    font-size: 15px;
    font-family: "open sans", sans-serif;

}
.third{
    color: #E95E10;
    font-weight: bold;
    font-size: 15px;
    font-family: "open sans", sans-serif;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
span{
    color: #1B1B1B;
    font-size: 15px;
    font-family: "open sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: -1.5;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #f0f0f0;

}

footer{
    color: #333333;
    font-family: "open sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.Coraçãozinho{
    width: auto;
    vertical-align: middle;
}
